* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    background-color: #F5F6FA;
}

#mailList {    
    width: 50vw;
    font-weight: bold;
}

.listCont {
    display: flex;
    align-items: center;
    border: 1px solid #DADADA;
    background-color: #FFFFFF;
    padding: 15px;
}

.listCont-1 {
    display: flex;
    align-items: center;
    border: 1px solid #DADADA;
    background-color: #FFFFFF;
    padding: 15px;
}

.mailCont {
    margin-bottom: 20px;
}

h6 {
    font-size: 14px;;
}

h6, p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.imgPb {
    width: 15px;
    margin-right: 5px;
    margin-left: auto;
    cursor: pointer;
}

.imgAvt {
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.messageCounter {
    display: flex;
    justify-content: space-between;
}

.buttonStyle {
    border: 2px solid #1078ef;
    border-radius: 5px;
    padding: auto;
    background-color: transparent;
    color: #1078ef;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.inputStyle {
    width: 50%;
    padding: 10px 0 10px 5px;
    margin-left: 20px;
    margin-right: 20px;
    border: 2px solid #DADADA;
    border-radius: 5px;
}

.inputStyle-addTxt {
    width: 100%;
    padding: 10px 0 10px 5px;
    margin-left: 20px;
    margin-right: 20px;
    border: 2px solid #DADADA;
    border-radius: 5px;
}