* {
    box-sizing: border-box;
}

.mailBg {
    background-color: #F5F6FA;
}

.mailList {    
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    font-family: 'Open Sans';
    font-weight: bold;
}

.listCont {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #DADADA;
    background-color: #FFFFFF;
}

.mailCont {
    margin-bottom: 30px;
}

h6, p {
    font-size: 14px;
}

.imgPb {
    width: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.imgAvt {
    width: 60px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}